/* Blue accent #2196F3 */
/* Black #000000 */
/* White #ffffff */
/* Black secondary #212121 */
/* Grey #757575 */
/* White secondary #255,255,255,0.6 */
/* bg #2F303A */
/* filter bg #f5f4fa */

:root {
  --blue-accent: #2196f3;
  --black-primary: #000000;
  --black-secondary: #212121;
  --white-primary: #ffffff;
  --grey-cnt: #757575;
  --white-secondary-op: rgba(255, 255, 255, 0.6);
  --background-color: #2f303a;
  --btn-bg: #f5f4fa;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  overflow-x: auto;
}
form {
  font-family: inherit;
}
