.footer {
    background-color: $bg-color;
}
.footer-cnt {
    display: inline-flex;   
    align-items: baseline;
}

.footer-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
}


.footer-adress__item {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: $white-primary;

    &:not(:last-child) {
        margin-bottom: 9px;
    }

    &:first-child {
        margin-top: 20px;
    }
}
.footer-adress__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: $white-secondary-op;
    transition: color 250ms $cubic;

    &:hover,
    &:focus {
        color: $blue-accent;
    }
}
 .footer-follow {
     margin-left: 70px;

     &__title {
         font-weight: 700;
         font-size: 14px;
         line-height: 1.14;
         letter-spacing: 0.03em;
         text-transform: uppercase;
         color: $white-primary;
     }
 }

 






